/**
* @Author: thomasvanhoutte
* @Date:   2016-10-05T10:22:28+02:00
* @Last modified by:   thomasvanhoutte
* @Last modified time: 2016-10-05T10:24:00+02:00
*/



*{
  box-sizing: border-box;
}

body{
  font-family: "Helvetica Neue", "Verdana", sans-serif;
}

ul{
  list-style-type: none;
}
